html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    background-image: url('../images/real_fake_doors.png');
    background-color: #FAE6AD;
}

.terminal-container {
    background-color: #FAE6AD;
    margin-top: 10rem;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 430px;
}

.terminal {
    height: 400px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #FAE6AD;
    padding-top: 5px;
}